.react-tabs__tab-list {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	border: none;
	border-image: none;
}

.react-tabs__tab--selected {
	color: rgb(6, 157, 6);
	background-color: rgb(240, 239, 239);
	border-top: none;
	border-left: none;
	border-right: none;
	font-weight: 600;
}
.react-tabs__tab-list {
	border: none;
}
