.react-tabs__tab-list {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	border: none;
	border-image: none;
}
.react-tabs__tab:hover {
	background-color: rgb(243, 243, 243);
	border-radius: 5px 5px 0px 0px;
	transition: all;
	transition-duration: 0.3s;
}

.react-tabs__tab--selected {
	color: rgb(6, 157, 6);
	background-color: rgb(240, 239, 239);
	border-top: none;
	border-left: none;
	border-bottom: 2px solid rgba(244, 63, 94, 0.9);
	border-right: none;
	font-weight: 600;
}
.react-tabs__tab-list {
}

.react-tabs__tab {
	border-bottom: 2px solid rgba(244, 63, 94, 0.9);
	border-radius: 5px 5px 0px 0px;
}
